/* vanish-out — exit (exit, showy, photo, card, device)
   Designed dissolve-away exit (grow + blur out) for clearing an old state before the transformed one arrives — the library has no exit ids at all beyond win-close.
   Source: magic (miniMAC/magic), MIT — LICENSE copy in vendor/magic-css/.
   PERFORMANCE: uses filter:blur() — one hero element per deck max; never on full-bleed photos.
   SHOWY: use sparingly — one per slide, on the hero element. Stagger via --d. */
@keyframes vanishOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(20px);
  }
}
.slide.active .vanish-out{animation:vanishOut .9s var(--d,0s) cubic-bezier(.2,.7,.3,1) forwards;}
