/* Rows */
/* Min Rows */
/* Columns 
$col: ;
$col--mobi: ;*/
/* Font */
/** RMB Fonts**/
/* Animations */
/* Misc (Untill we get a better name) */
/*Skin codes*/
/*

Variables.

*/
/* Template
	Developer: [Your name]
	Description: [Your description]
	Vars:	[Your vars]			[Vars description]
*/
/*
	@mixin mixin-name(mixin-variable, mixin-variable) {
		[mixin content]
	}
*/
/*
	Developer: Gerhard Luyken
	Description: Cross box-sizing
	Vars:	box model
*/
@keyframes box-sizing() {}/* Template
	Developer: [Your name]
	Description: [Your description]
	Vars:	[Your vars]			[Vars description]
*/
/*
	@mixin mixin-name(mixin-variable, mixin-variable) {
		[mixin content]
	}
*/
/*
	Developer: Gerhard Luyken
	Description: Cross box-sizing
	Vars:	box model
*/
/*
	Developer: Gerhard Luyken
	Description: Setup border radius for all modern browsers, all borders or single
	Vars:	$radius			width/size of the radius
*/
/*
	Developer: Gerhard Luyken
	Description: Simple crossbrowser transitions
	Vars:	$property			what transitions
*/
/*
	Description: Cross browser Box shadow mixin
	Vars:	$boxShadow				this variable will hold the horizontal and vertical offsets
									blur radius, spread radius and color. 
									e.g box-shadow(5px 5px 5px rgba(68,68,68,0.6))
*/
/*
	Developer: Gerhard Luyken
	Description: Cross browser text shadow mixin
	Vars:	$textShadow				this variable will hold the horizontal and vertical offsets
									blur radius, spread radius and color. 
									e.g text-shadow(5px 5px 5px rgba(68,68,68,0.6))
*/
/*
	Description: Show and Hide elements
*/
/*
	Developer: Gerhard Luyken
	Description: Show and Hide elements
*/
/*

Mixin to manage responsive breakpoints

*/
/*
	Description: Used for the sizing and positioning of text/heading elements on the grid
	Vars:	$font-size			Font size
			$line-height		Line height
			$letter-spacing		Letter spacing
			$posDirection		If the position needs to change, which direction? top, right, bottom, left
			$posDist			By how much should the position change? in px, em, vw, vh, pt, %
*/
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%; } }

@media only screen and (max-width: 1799px) {
  html {
    font-size: 62.5%; } }

@media only screen and (max-width: 1199px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 1199px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 899px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%; } }

html,
body {
  height: 100%; }

@media only screen and (max-width: 599px) {
  body {
    overflow: auto;
    overflow-x: hidden;
    height: 100vh; } }

.atom #logo {
  width: 100%;
  max-height: 95%; }

.atom .menu--btn {
  position: relative;
  top: 2.5rem;
  cursor: pointer; }
  .atom .menu--btn img {
    width: 1.8rem;
    max-height: 95%;
    transition: all 0.3s; }
  .atom .menu--btn span {
    position: relative;
    left: 1rem;
    transition: all 0.3s; }
  .atom .menu--btn:hover span {
    left: 0.5rem;
    transition: all 0.3s; }
  .atom .menu--btn.menu--state-open img {
    transition: all 0.3s;
    transform: rotate(90deg); }

/* Main navigation */
nav#nav--main.atom {
  position: fixed;
  z-index: 15;
  height: 75rem;
  background-color: #FFFFFF;
  padding-left: 18rem;
  width: 51.5rem;
  left: -51.5rem;
  transition: all 0.3s;
  /* Sub navigation */ }
  nav#nav--main.atom.menu--state-open {
    left: 0;
    -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s; }
  nav#nav--main.atom #nav--main-links {
    height: 75rem;
    padding-top: 12.5rem;
    background: #FFFFFF;
    position: relative;
    z-index: 2; }
    nav#nav--main.atom #nav--main-links * {
      box-shadow: none; }
    nav#nav--main.atom #nav--main-links #nav--main-items li {
      list-style: none;
      cursor: pointer;
      margin-bottom: 0.6756756757rem; }
      nav#nav--main.atom #nav--main-links #nav--main-items li a {
        position: relative;
        display: block;
        color: #000;
        transition: color 0.1s; }
        nav#nav--main.atom #nav--main-links #nav--main-items li a span {
          display: inline-block;
          position: relative;
          text-decoration: none; }
      nav#nav--main.atom #nav--main-links #nav--main-items li:hover a {
        padding-left: 3rem;
        transition: all 0.3s; }
      nav#nav--main.atom #nav--main-links #nav--main-items li.subMenu--sub-open a {
        color: #01AAAD;
        transition: all 0.1s; }
        nav#nav--main.atom #nav--main-links #nav--main-items li.subMenu--sub-open a:before {
          content: '';
          border-left: 0.25rem solid #01AAAD;
          position: absolute;
          left: 0;
          height: 3.5rem;
          top: -0.625rem; }
  nav#nav--main.atom #nav--main-close {
    position: absolute;
    z-index: 3;
    top: 2.5rem;
    right: 2.5rem;
    transition: all 0.3s;
    cursor: pointer; }
    nav#nav--main.atom #nav--main-close:hover {
      transform: rotate(90deg);
      transition: all 0.3s; }
  nav#nav--main.atom #nav--sub {
    height: 75rem;
    width: 27rem;
    background-color: #E2EFEF;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s;
    padding-top: 12.5rem;
    padding-right: 2.5rem; }
    nav#nav--main.atom #nav--sub .nav--sub-item {
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s; }
      nav#nav--main.atom #nav--sub .nav--sub-item .heading-4.text--heading {
        margin: 0; }
    nav#nav--main.atom #nav--sub.subMenu--open {
      -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
      right: -27rem; }
      nav#nav--main.atom #nav--sub.subMenu--open .nav--sub-item.subMenu--sub-open {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s; }

/* PC small */
@media (min-width: 350px) and (max-width: 1464px) {
  nav#nav--main.atom {
    -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    padding-left: 0;
    width: 30.6075vw; }
    nav#nav--main.atom #nav--main-close {
      right: 2.0405vw; }
  .atom .menu--btn img {
    width: 1.46916vw; }
  .atom .menu--btn span {
    left: 0.8162vw; }
  .atom .menu--btn:hover span {
    left: 0.4081vw; } }

/* PC Normal */
/* PC Large */
/* PC Extra Large */
/* Current header */
.atom.header.section {
  height: 3.9rem !important;
  display: block;
  position: fixed;
  width: 100%;
  clear: both;
  border-bottom: 1px solid #dadada;
  background: white ;
  z-index: 103;
  top: 0; }
  .atom.header.section .innerSection2 {
    width: 80.01vw;
    margin: 0 10vw; }
  .atom.header.section .menuButtonWrapper {
    display: none; }
  .atom.header.section .homepageLink {
    width: calc((80.01vw - (9 * 2.5rem))/10);
    height: 100%;
    display: block; }
    .atom.header.section .homepageLink img {
      height: 70%; }
  .atom.header.section .homepageLinkSml {
    display: none;
    text-decoration: none;
    border: none; }
  .atom.header.section .searchButton {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background-image: url(/_assets/images/generic/skins/00/navigation/search-icon/ink.svg);
    background-size: contain;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    display: inline-block;
    border-bottom: none !important; }
  .atom.header.section .menuButtonWrapper .menuButton span {
    display: block;
    width: 100%;
    height: 0.25rem;
    margin-bottom: 4px;
    background: #fff; }
  .atom.header.section .loginFields {
    width: auto; }
    .atom.header.section .loginFields .inputButtonHolder {
      float: right;
      padding: 0;
      width: calc(((80vw - (9 * 2.5rem) ) / 10 ) - 2.5rem);
      position: relative;
      top: 0;
      height: 2.5rem;
      margin: 0 0 0 0.5rem;
      overflow: hidden; }
    .atom.header.section .loginFields .textinput {
      margin: 0;
      padding: 0;
      width: calc((((80.01vw - (9 * 2.5rem))/10) + (((80.01vw - (9 * 2.5rem))/10) / 2)) - 1rem);
      float: left;
      height: 2.5rem; }
    .atom.header.section .loginFields .validationWrapper.noLabel {
      float: left;
      width: auto; }
    .atom.header.section .loginFields .validationWrapper.noLabel:nth-child(2) {
      margin: 0 0.5rem 0 0; }
  .atom.header.section input[type=submit], .atom.header.section input[type=button] {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border-radius: 0;
    box-shadow: none !important;
    background: none;
    border: 1px solid #009999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    height: 100%;
    line-height: 13px;
    padding: 0px;
    margin: 0;
    background: #009999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-appearance: inherit;
    width: 100%;
    font-family: 'FNBSansRegular';
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.5px; }
  .atom.header.section .usernametext, .atom.header.section .passwordtext {
    position: absolute;
    width: 80px;
    background: #ffffff;
    color: crimson;
    padding: 0;
    height: 16px;
    padding-left: 5px;
    margin-top: 2px;
    margin-left: 4px;
    display: none;
    font-size: 13px; }
  .atom.header.section input[type=text], .atom.header.section input[type=password] {
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    border: none;
    background: #efefef;
    color: #767676;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    box-shadow: none !important;
    font-family: 'FNBSansRegular';
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.5px; }
  .atom.header.section a.fontWhite, .atom.header.section p.fontWhite a {
    border-bottom: 1px solid black; }
  .atom.header.section .fontWhite {
    color: black; }
  .atom.header.section .atom.headerLinks {
    margin-right: 1rem; }
    .atom.header.section .atom.headerLinks a {
      padding: 0;
      font-family: 'FNBSansRegular';
      font-size: 13px;
      line-height: 13px;
      letter-spacing: -0.5px;
      text-decoration: none; }
  .atom.header.section .cookieTrail {
    margin-left: 1rem;
    height: 100%;
    width: auto; }
    .atom.header.section .cookieTrail .fontWhite.arrowButtonBack {
      background: url("/_assets/images/generic/skins/00/navigation/icon-back/ink.svg") 0 center no-repeat;
      background-size: 6px;
      padding: 0 0 0 1.5rem;
      font-family: 'FNBSansRegular';
      font-size: 13px;
      line-height: 13px;
      letter-spacing: -0.5px; }

.atom .innerSection {
  height: 100%;
  margin: 0 auto;
  position: relative; }

.atom .innerSection2 {
  height: 100%; }

.atom .hAlignCenter {
  text-align: center; }

.atom .sectionColFull {
  width: 100%; }

.atom .sectionColInner {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.atom .sectionColFull .sectionColInner {
  margin: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.atom .column {
  float: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.atom .wrapperHeight100 {
  height: 100%; }

.atom .wrapperFloatLeft {
  float: left; }

.atom .wrapperFloatRight {
  float: right; }

.atom .vAlignMiddle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atom.headerTabs.section.height2 {
  height: 3.5rem !important;
  top: 3.9rem;
  position: fixed; }

.atom.headerTabs {
  background: white; 
  border-bottom: 0;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1); }
  .atom.headerTabs a {
    text-decoration: none;
    font-family: f_regular;
    font-size: 13px;
    line-height: 16px; }
  .atom.headerTabs .innerSection2 {
    width: 80.01vw;
    margin: 0 10vw; }
  .atom.headerTabs .CHAM_tabButton {
    border: none;
    width: 100%;
    display: block;
    height: 37px;
    padding-right: 4px;
    padding: 0;
    line-height: 14px;
    top: 0%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
    .atom.headerTabs .CHAM_tabButton span {
      position: relative;
      top: 50%;
      color: black;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      font-family: 'FNBSansRegular';
      font-size: 13px;
      line-height: 13px;
      letter-spacing: -0.5px; }
  .atom.headerTabs .sectionColTenths {
    width: calc((((100% - (9 * 2.5rem))/10)));
    margin-right: 2.5rem;
    position: relative; }
  .atom.headerTabs .sectionColTenths:last-child {
    margin-right: 0; }
  .atom.headerTabs .sectionColTenths.borderRightWhite {
    border: none; }
  .atom.headerTabs .sectionColTenths .sectionColInner {
    margin: 0 !important; }
  .atom.headerTabs .sectionColTenths:not(:last-of-type)::AFTER {
    content: "";
    width: 1px;
    height: 2rem;
    position: absolute;
    display: block;
    top: 0.9rem;
    right: -1.15rem;
    border-right: 1px solid #9b9b9b; }

/* sections */
#zaSkin .atom.section .section-content {
  width: 80.01vw;
  margin: 0 10vw; }

.smartPhone .atom.header .homepageLinkSml {
  display: block;
  height: 100%;
  margin-right: 1.25rem; }

.smartPhone .atom.header .menuButtonWrapper {
  display: block;
  height: 100%; }

.smartPhone .atom.header .menuButtonWrapper .menuButton {
  height: auto;
  width: 2.25rem;
  padding: 0;
  background: none; }

.smartPhone .atom.header .searchButton {
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  margin-left: 0.5rem; }

@media only screen and (max-width: 1199px) {
  /* sections */
  #zaSkin .atom.section .section-content {
    width: 90.01vw;
    margin: 0 5vw; }
  .atom.header.section {
    height: 3.625rem !important; }
    .atom.header.section .menuButtonWrapper {
      display: none; }
    .atom.header.section .innerSection2 {
      width: 90.01vw;
      margin: 0 5vw; }
    .atom.header.section .homepageLink {
      width: calc((90.01vw - (9 * 2.5rem))/10);
      height: 100%;
      display: block; }
      .atom.header.section .homepageLink img {
        height: 70%; }
    .atom.header.section .homepageLinkSml {
      display: none;
      text-decoration: none;
      border: none; }
    .atom.header.section .searchButton {
      width: 1.875rem;
      height: 1.875rem;
      margin-left: 0.625rem;
      background-size: 1.875rem;
      background-image: url(/_assets/images/generic/skins/00/navigation/search-icon/ink.svg);
      padding: 0;
      background-position: center center;
      background-repeat: no-repeat; }
    .atom.header.section .loginFields .inputButtonHolder {
      float: right;
      padding: 0;
      width: calc(((90.01vw - (9 * 2.5rem) ) / 10 ) - 2.5rem);
      position: relative;
      top: 0;
      height: 2.375rem;
      margin: 0 0 0 0.625rem;
      min-width: 45px; }
    .atom.header.section .loginFields .textinput {
      margin: 0;
      padding: 0;
      width: calc((((90.01vw - (9 * 2.5rem))/10) + (((90.01vw - (9 * 2.5rem))/10) / 2)) - 1rem);
      float: left;
      height: 2.375rem; }
    .atom.header.section .loginFields .validationWrapper.noLabel:nth-child(2) {
      margin: 0 0.625rem 0 0; }
    .atom.header.section .atom.headerLinks {
      margin-right: 1.25rem; }
    .atom.header.section .cookieTrail {
      margin-left: 1.25rem; }
      .atom.header.section .cookieTrail .fontWhite.arrowButtonBack {
        padding: 0 0 0 1.875rem; }
  .atom.headerTabs.section.height2 {
    height: 3.75rem !important;
    top: 3.625rem;
    position: fixed; }
  .atom.headerTabs .innerSection2 {
    width: 90.01vw;
    margin: 0 5vw; }
  .atom.headerTabs .sectionColTenths {
    width: calc((((90.01vw - (9 * 2.5rem))/10)));
    margin-right: 2.5rem;
    position: relative; }
  .atom.headerTabs .sectionColTenths:last-child {
    margin-right: 0; }
  .atom.headerTabs .sectionColTenths .sectionColInner {
    margin: 0 !important; }
  .atom.headerTabs .sectionColTenths:not(:last-of-type)::AFTER {
    content: "";
    width: 1px;
    height: 2.25rem;
    position: absolute;
    display: block;
    top: 1.1rem;
    right: -1.1875rem;
    border-right: 1px solid #9b9b9b; } }

@media only screen and (max-width: 1199px) and (orientation: landscape) {
  /* sections */
  #zaSkin .atom.section .section-content {
    width: 90.01vw;
    margin: 0 5vw; }
  .atom.header.section {
    height: 3.625rem !important; }
    .atom.header.section .menuButtonWrapper {
      display: none; }
    .atom.header.section .innerSection2 {
      width: 90.01vw;
      margin: 0 5vw; }
    .atom.header.section .searchButton {
      width: 1.875rem;
      height: 1.875rem;
      margin-left: 0.625rem; }
    .atom.header.section .loginFields .inputButtonHolder {
      height: 2.375rem; }
    .atom.header.section .atom.headerLinks {
      margin-right: 0.625rem; } }

@media only screen and (max-width: 899px) and (orientation: portrait) {
  /* sections */
  #zaSkin .atom.section .section-content {
    width: 90.01vw;
    margin: 0 5vw; }
  .atom.header.section {
    height: 7.5rem !important; }
    .atom.header.section .menuButtonWrapper {
      display: block;
      height: 100%; }
      .atom.header.section .menuButtonWrapper .menuButton {
        display: block;
        height: auto;
        width: 2.25rem;
        padding: 0;
        background: none; }
      .atom.header.section .menuButtonWrapper .menuButton span {
        display: block;
        width: 100%;
        height: 0.25rem;
        margin-bottom: 4px;
        background: #000; }
      .atom.header.section .menuButtonWrapper .menuButton .menuButton:hover {
        background: none; }
    .atom.header.section .innerSection2 {
      width: 90.01vw;
      margin: 0 5vw; }
    .atom.header.section .homepageLink {
      display: none; }
    .atom.header.section .homepageLinkSml {
      width: 5rem;
      height: 100%;
      display: block;
      margin-right: 1.25rem; }
    .atom.header.section .searchButton {
      width: 1.875rem;
      height: 1.875rem;
      margin-left: 0.625rem; }
    .atom.header.section input[type=text], .atom.header.section input[type=password] {
      padding: 0 0 0 3px; }
    .atom.header.section .loginFields .textinput {
      width: calc((((90.01vw - (9 * 2.5rem))/10) + (((90.01vw - (9 * 2.5rem))/10) / 2)) - 1rem);
      min-width: 60px; }
    .atom.header.section .loginFields .validationWrapper.noLabel:nth-child(2) {
      margin: 0 0.625rem 0 0; }
    .atom.header.section .cookieTrail {
      margin-left: 1.25rem; }
      .atom.header.section .cookieTrail .fontWhite.arrowButtonBack {
        padding: 0 0 0 1.875rem; }
  .atom.headerTabs.section.height2 {
    display: none; } }

@media only screen and (max-width: 899px) and (max-height: 898px) {
  /* sections */
  #zaSkin .atom.section .section-content {
    width: 90.01vw;
    margin: 0 5vw; }
  .atom.header.section {
    height: 7.5rem !important;
    border-bottom: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1); }
    .atom.header.section .menuButtonWrapper {
      display: block;
      height: 100%; }
      .atom.header.section .menuButtonWrapper .menuButton {
        display: block;
        height: auto;
        width: 2.25rem;
        padding: 0;
        background: none; }
      .atom.header.section .menuButtonWrapper .menuButton span {
        display: block;
        width: 100%;
        height: 0.25rem;
        margin-bottom: 4px;
        background: #000; }
      .atom.header.section .menuButtonWrapper .menuButton .menuButton:hover {
        background: none; }
    .atom.header.section .innerSection2 {
      width: 90.01vw;
      margin: 0 5vw; }
    .atom.header.section .homepageLink {
      display: none; }
    .atom.header.section .homepageLinkSml {
      width: 5rem;
      height: 100%;
      display: block;
      margin-right: 1.25rem; }
      .atom.header.section .homepageLinkSml img {
        left: 0px !important;
        width: 40px; }
    .atom.header.section .searchButton {
      width: 1.875rem;
      height: 1.875rem;
      margin-left: 0.625rem; }
    .atom.header.section input[type=text], .atom.header.section input[type=password] {
      padding: 0 0 0 3px; }
    .atom.header.section .loginFields .textinput {
      width: calc((((90.01vw - (9 * 2.5rem))/10) + (((90.01vw - (9 * 2.5rem))/10) / 2)) - 1rem);
      min-width: 60px; }
    .atom.header.section .loginFields .validationWrapper.noLabel:nth-child(2) {
      margin: 0 0.625rem 0 0; }
    .atom.header.section .cookieTrail {
      margin-left: 1.25rem; }
      .atom.header.section .cookieTrail .fontWhite.arrowButtonBack {
        padding: 0 0 0 1.875rem; }
  .atom.headerTabs.section.height2 {
    display: none; } }

@media only screen and (max-width: 599px) {
  /* sections */
  #zaSkin .atom.section .section-content {
    width: calc(100vw - 6.25rem);
    margin: 0 3.125rem; }
  .atom.header.section {
    height: 7.5rem !important;
    position: sticky;
    border-bottom: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1); }
    .atom.header.section .menuButtonWrapper {
      display: block;
      padding: 0; }
    .atom.header.section .innerSection2 {
      width: calc(100vw - 6.25rem);
      margin: 0 3.125rem; }
    .atom.header.section .homepageLink {
      display: none; }
    .atom.header.section .homepageLinkSml {
      width: 5rem;
      height: 100%;
      display: block;
      margin-right: 1.25rem; }
      .atom.header.section .homepageLinkSml img {
        left: 0px !important;
        width: 40px; }
    .atom.header.section .searchButton {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 0;
      background-size: 2.5rem; }
    .atom.header.section .atom.headerLinks {
      display: none; }
    .atom.header.section .loginFields .textinput {
      width: calc((((90.01vw - (9 * 2.5rem))/10) + (((90.01vw - (9 * 2.5rem))/10) / 2)) - 1rem);
      min-width: 60px; }
    .atom.header.section .loginFields .validationWrapper.noLabel {
      display: none; }
    .atom.header.section .loginFields .validationWrapper.noLabel:nth-child(2) {
      margin: 0 0.625rem 0 0; }
    .atom.header.section .loginFields .inputButtonHolder {
      display: none; }
    .atom.header.section .sectionColInner > .cookieTrail {
      display: block; }
    .atom.header.section .sectionColInner > .cookieTrail ~ .cookieTrail {
      display: none; } }

/* Old framework adjustment */
.noSizerSpacer {
  height: 7.5rem; }

/*# sourceMappingURL=menu.css.map */